<div class="review">
<div class="f_review">
	<% @reviews.each do |review| %>
		<h3 class="hotel_name">
			<%= review.hotel.name if current_user.admin_flg == true %>	
		</h3>
		<div class="each_column">
			<span class="">
				<%= attachment_image_tag review, :profile_image, :fill, 50, 50, format: "jpg" %>
			</span>
			<span class="nickname">
				<%= review.nickname %>	
			</span>
			<span class = "star" data-score = <%= review.star %> >
			</span>
			<p class=""><%= review.created_at.strftime("%Y年%m月%d日") %></p>
		</div>
		<p>
			<%= review.review %>
		</p>
			<span>
				<%= admin_delete(current_user, review.id) %>
			</span>
		<p class="line"></p>
	<% end %>
</div>
<%= paginate @reviews %>
</div>


<script>
	 $('.star').raty({
      size     : 20,
	  starOff: '/images/star-off.png',
	  starOn : '/images/star-on.png',
      readOnly: true,
      score: function() {
            return $(this).attr('data-score');
    }
  });
</script>