<div id="sidebar" >
    <div id="nav" class="reservation">
            <span class = "price">
             ¥ <%= @hotel.price.to_s(:currency) %>  
             </span>/1泊<br>
             <small>
                 過去<%= guest_total(@hotel) %>人のお客様が宿泊しております。
             </small>
        <% if user_signed_in? %>
                <%= link_to "カレンダー作成へ", hotel_reservation_calendar_index_path(@hotel), class: "btn btn-info btn-sm" if current_user.id == @hotel.owner_id %>
        <% end %>
        <p class="line"></p>
        <% if @reservation_calendar.empty? || @hotel.stop? %>
            <p>現在、宿泊を受け付けておりません。</p>
        <% else %>
            <div class="booking_form">
            <%= form_for @reservation, url: hotel_preview_path(@hotel), method: :post  do |f| %>
                    <div class="form-group check_in">
                        <small>日付</small>
                        <%= f.text_field :check_in, :class => 'form-control', :id =>'datetimepicker6', :placeholder => "チェックイン日"%>        
                    </div>
                   <div class="form-group check_out">
                        <%= f.text_field :check_out, :class => 'form-control', :id =>'datetimepicker7',:placeholder => "チェックアウト日"%>
                    </div>
                    <br>
                    <div class="form-group">
                        <small>宿泊人数</small>
                        <%= f.number_field :guest_count, :min =>'1', :max => @hotel.accomodate, :class => 'form-control', :placeholder => "人数を入力して下さい。"%>
                    </div>
                    <div>
                        <%= f.submit "予約へ", class: "btn btn-danger" %>
                        <small>※予約確認画面へ進みます。</small>
                    </div>
            <% end %>
            </div>  
        <% end %>
    </div>
</div>
<br>
<!-- side bar -->
<script>
    var nav = $('#nav'),
    offset = nav.offset();
    $(window).scroll(function () {
        if($(window).scrollTop() > offset.top - 20) {
            nav.addClass('fixed');
        } else {
            nav.removeClass('fixed');
        }
        });
</script>

<script>
    $(function () {
    	var c = <%= count(@hotel) %>;
        $('#datetimepicker6').datetimepicker({
            viewMode: 'days',
            format: 'YYYY/MM/DD',
            enabledDates: c           
        });
        $('#datetimepicker7').datetimepicker({
            viewMode: 'days',
            format: 'YYYY/MM/DD',
            enabledDates: c ,
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

    });
</script>

