<div class="f_calendar">
  <%= form_for @reservation_calendar, url: hotel_reservation_calendar_index_path do |f| %>

    <% if reservation_calendar.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% reservation_calendar.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
        <div class="form-group">
                  <div class='input-group'>
                    <%= f.text_field :select_date, :class => 'form-control', :id =>'datetimepicker6', :placeholder => "チェックイン可能な日" %>
                    </div>
        </div>
    <br>

    <div class="actions btn-box">
      <%= f.submit class: "btn btn-primary btn-sm btn-right" %>
      <%= link_to '戻る', "", class: "btn btn-primary btn-sm btn-right"%>
    </div>
  <% end %>
</div>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker6').datetimepicker({
            minDate: new Date(),
            viewMode: 'days',
            format: 'YYYY/MM/DD',
            
        });
        $('#datetimepicker7').datetimepicker({
            viewMode: 'days',
            format: 'YYYY/MM/DD',
            useCurrent: false //Important! See issue #1075
        });
        $("#datetimepicker6").on("dp.change", function (e) {
            $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker7").on("dp.change", function (e) {
            $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
        });

    });
</script>