<div class="col-md-8 col-md-offset-2">
  <h3>予約可能日の設定</h3>
  <div class="calendar1_1">
    <table id="table" class="table">
      <p> <!-- ↓helprer?? -->
        <%= link_to "◀️", controller: "reservation_calendar", action: "index", month_id: 0%>| 
        <%= @today.strftime("< %Y年%m月>") %>| 
        <%= link_to "▶️", controller: "reservation_calendar", action: "index", month_id: 1 %>| 
         <%= link_to "＞", controller: "reservation_calendar", action: "index", month_id: 2 %>
        </p>
      <thead class="thead-inverse">
        <tr>
          <% t('date.abbr_day_names').each do |day_name| %>
            <th>
              <%= day_name %>
            </th>
          <% end %>
        </tr>
      </thead>
      <% @calendar_data.each do |date| %>
        <% if date.wday == 0 %>
          <tr>
         <% end %>
            <td>
              <p>
                <%= date.day %>
              </p>
              <p>
                <%= vacancy_link( @reservation_calendar.get_vacancy(date) )%>
              </p>
              <% if (date).to_s <= (Date.today).to_s %>
                <p>NG</p>
              <% elsif @reservation_calendar.get_vacancy(date) =="◯" %>
                <p>
                  <button type="button" class="btn btn-warning"><%= link_to "削除",hotel_reservation_calendar_path(@reservation_calendar, hotel_id: @hotel.id, select_date: date), method: :delete %></button>
                </p>
              <% else %>
                <p>
                  <button type="button" class="btn btn-success"><%= link_to "追加",hotel_add_date_path(hotel_id: @hotel.id, select_date: date), method: :post %></button>
                </p>
              <% end %>  
            </td>
        <% if date.wday == 6 %>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div> <!-- calendar -->
  <div>
      <p> ○ 予約可能な日付です。
      </p>
      <p>
       ✕ 予約不可の日付です。
      </p>
      <p>
       NG 予約を受け付けていない日付です。
      </p>
  </div>
    <div class="calendar1_2">
      <%= link_to "ホテルへ", hotel_path(@hotel), class: "btn btn-info " %>
    </div>
</div>


