<div class="col-md-4 col-md-offset-2">
	<div class="preview1 preview1_1">
		<p class="p_title">
			<%= @reservation.hotel.name %>
		<p>
			<%= attachment_image_tag @reservation.hotel.hotel_images.first, :image, :fill, 400, 200, format: "jpg", class: "img-responsive" %>
		</p>
		</p>
		<p class="line"></p>
		<p>
			<i class="fas fa-users"></i> 宿泊人数 <%= @reservation.guest_count %>名
		</p>
		<p>
			<i class="far fa-calendar-alt"></i> <%= @reservation.check_in.strftime('%Y年%m月%d日') %>→ <%= @reservation.check_out.strftime('%Y年%m月%d日' )%>
		</p>
		<p class="line"></p>
		<p>
			¥<%= @reservation.hotel.price.to_s(:currency) %> / 1泊
		</p>
		<p>
			清掃費 ---円
		</p>
		<p class="line"></p>
		<p class="preview1_3">
			宿泊合計 ¥<%= @reservation.total.to_s(:currency) %>	（税込）	
		</p>
		<%= link_to "前のページに戻る", hotel_path(@reservation.hotel_id), class: "btn btn-danger" %>
	</div>	
</div>

<div class="col-md-4">
	<div class="preview2">
	<h3>＜お家の決まりごと＞</h3>
			<div class="rule_form"> 
				チェックイン:<%= @reservation.hotel.rule.check_in_time.strftime("%H:%M")  %>
			<br>
				チェックアウト:<%= @reservation.hotel.rule.check_out_time.strftime("%H:%M")  %>
			<br>
			<span>
				<%= del_tag_if(@reservation.hotel.rule.smoking, "喫煙") %></span>
			<span>
				<i class="fa fa-paw" aria-hidden="true"></i><%= del_tag_if(@reservation.hotel.rule.pet, "ペット") %>
			</span>
			<span>
				<i class="fa fa-glass" aria-hidden="true"></i><%= del_tag_if(@reservation.hotel.rule.party, "イベント・パーティー") %>
			</span>
			</div><br>
			<div class="attention0_1">
				<span class="attention1_1">ホストからのお願い</span><br>
				<%= @reservation.hotel.rule.rule %>
			</div>
		<p class="line"></p>
	<h3>お客様情報入力</h3>
	<%= form_for @reservation, url: hotel_reservations_path do |f| %>
		<% if @reservation.errors.any? %>
			  <div id="error_explanation" class="center-block">
			    <br>
			    <h2><%= @reservation.errors.count %>件のエラーがあります。</h2>
			 
			    <ul>
			    <% @reservation.errors.full_messages.each do |msg| %>
			      <p><%= msg %></p>
			    <% end %>
			    </ul>
			  </div>
			<% end %>
			<div class="form-group">
	        	<div class='input-group'>
	                <%= f.text_field :guest_name, :class => 'form-control',:placeholder => '氏名' %>
	            </div>
			</div>
			<div class="form-group">
	            	<div class='input-group'>
	                <%= f.text_field :address, :class => 'form-control',:placeholder => '住所' %>
	            	</div>
			</div>
			<div class="form-group">
	            	<div class='input-group'>
	                <%= f.text_field :tel, :class => 'form-control',:placeholder => '電話番号(09011115678・ハイフンなし)' %>
	            	</div>
			</div>
			<div class="form-group">
	            	<div class='input-group'>
	                <%= f.text_field :request, :class => 'form-control form_box',:placeholder => '確認事項：（例）空気清浄機はございますか？' %>
	            	</div>
			</div>
			<!-- hidden_field -->
			<%= f.hidden_field :check_in, value: @reservation.check_in %>	
			<%= f.hidden_field :check_out, value: @reservation.check_out %>	
			<%= f.hidden_field :guest_count, value: @reservation.guest_count %>	
			<%= f.hidden_field :total, value: @reservation.total %>	

			<%= f.submit "予約する", class: "btn btn-success" %>
	<% end %>
	</div> <!-- preview_2 -->
</div>  