<div class="container">
<div class="row r_detail">
	<div class="col-md-8 col-md-offset-2">
	<h3>下記の内容で予約が完了しました。</h3>
		<p class="line"></p>
		<div class="preview_1">
			<p>
				ご宿泊先：<%= @reservation.hotel.name %>
			</p>
			<p>
				住所：<%= @reservation.hotel.address %>
			</p>
			<p class="line"></p>
			<p>
				宿泊人数：<%= @reservation.guest_count %>名
			</p>
			<p>
				チェックイン日：<%= @reservation.check_in.strftime('%Y年%m月%d日') %>
			</p>
			<p>
				チェックアウト日：<%= @reservation.check_out.strftime('%Y年%m月%d日' )%>
			</p>
			<p>
				合計金額 ¥<%= @reservation.total.to_s(:currency) %>
			</p>
		
			<p class="line"></p>

			<h3>お客様情報</h3>
			<p>お客様名：<%= @reservation.guest_name %></p>
			<p>ご住所：<%= @reservation.address %></p>
			<p>電話番号：<%= @reservation.tel %></p>
			<p>メールアドレス：<%= @reservation.user.email %></p>
			<p>ご要望：<%= @reservation.request %></p>
		</div>
		<%= link_to "予約一覧に戻る", reservations_path, class: "btn btn-default" if current_user.admin_flg == true %>
		<%= link_to "予約一覧に戻る", hotel_reservations_path(@reservation.hotel.id), class: "btn btn-default"  %>
	</div>  
</div>
</div>